//- views/email/forgot-password.pug
extends baseEmail

block content
  p Hi #{name},
  p You (or someone using your username) requested a password reset for your XPStrength account.  
  p Please click the link below to choose a new password:
  p
    a(
      href=url,
      target='_blank',
      rel='noopener noreferrer'
    )
      | Reset your password
  p This link will expire in 15 minutes for your security.  
  p If you didn’t request a password reset, you can safely ignore this email—your password won’t change.  
  p Cheers,
    br
    | The XPStrength Team
